@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-style: normal;
    font-display: ;
}


:root {

    --primary-color: #8f0101;
    --secondary-color: #b81515;
 
    --background-primary-color: #ffffff;
    --background-secondary-color: #f5f5f5;
    --background-tertiary-color: #f5f5f5;

    --text-primary-color: #8f0101;
    --text-secondary-color: #B81515;

    --text-primary-color: #222222;
    --text-secondary-color:#ffffff;

    --titles-weight: 700;
    --text-weight: 400;
    --menu-text-weight: 500;

}


body, img, h1, p, fieldset, legend, label, input, select, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

