
.categories-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.categories-cards .card {
  text-align: center;
  width: 312px;
  height: 220px;
  background-color: var(--background-secondary-color);
  border-radius: 16px;
  padding: 24px;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text-primary-color);
}

.categories-cards .card h3 {
  font-size: 28px;
  font-weight: var(--title-weight);
}

.categories-cards .card.single-line {
  padding-top: 50px;
}

.categories-cards .card.single-line.transfer img {
  margin: 10px 0 20px;
}

@media screen and (min-width: 768px) {
  .categories .section-title {
    width: 100%;
  }

  .categories-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .categories {
    margin-bottom: 104px;
  }

  .categories-cards .card {
    width: 425px;
  }
}

@media screen and (min-width: 1440px) {
  .categories-cards .card {
    width: 281.25px;
  }
}
