.hero .hero-img,
.bottom-hero .hero-img {
  height: 400px;
  width: 100%;
}

.hero .hero-img {
  background: url(../img/hero-mobile.png) no-repeat;
  background-size: cover;
}

.bottom-hero .hero-img {
  background: url(../img/hero-bottom-mobile.png) no-repeat;
  background-size: cover;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0;
  font-weight: var(--text-weight);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

/*PACOTES DE VIAGENS*/

.travel-packages.hero {
  margin-bottom: 88px;
}

.travel-packages .hero-img {
  height: 460px;
  background: url(../img/travel-packages/japan-bg-hero-tablet.png) no-repeat;
  background-size: cover;
}

.travel-packages .hero-content {
  width: 312px;
  padding: 65px 0 0 0;
  margin: 0 auto;
}

.travel-packages .hero-content h1 {
  font-size: 48px;
  color: var(--text-secondary-color);
  font-weight: var(--title-weight);
}

.travel-packages .hero-content hr {
  width: 180px;
  height: 4px;
  background-color: var(--secondary-color);
  border: none;
  margin: 16px 0 32px;
}

.travel-packages .hero-content p {
  font-size: 20px;
  line-height: 32px;
  color: var(--text-secondary-color);
  font-weight: var(--text-weight);
}

.travel-packages.bottom-hero .hero-img {
  background: url(../img/travel-packages/japan-bg-bottom-hero-mobile.png)
    no-repeat center;
  background-size: cover;
  height: 400px;
}

@media screen and (min-width: 768px) {
  .hero .hero-img {
    height: 620px;
    background: url(../img/hero-tablet.png) no-repeat;
    background-size: cover;
  }

  .bottom-hero .hero-img {
    height: 400px;
    background: url(../img/hero-bottom-tablet.png) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }

  /*PACOTES DE VIAGEM*/

  .travel-packages .hero-img {
    height: 620px;
    background: url(../img/travel-packages/japan-bg-hero-tablet.png) no-repeat;
    background-size: cover;
  }

  .travel-packages .hero-content {
    width: 648px;
    padding: 210px 0 0 0;
  }

  .travel-packages .hero-content p {
    font-size: 32px;
    line-height: 48px;
    color: var(--text-secondary-color);
    font-weight: var(--text-weight);
  }

  .travel-packages.bottom-hero .hero-img {
    background: url(../img/travel-packages/japan-bg-bottom-hero-tablet.png)
      no-repeat center;
    background-size: cover;
  }
}

@media screen and (min-width: 1024px) {
  .hero .hero-img {
    background: url(../img/hero-tablet.png) no-repeat;
    background-size: cover;
  }

  .bottom-hero .hero-img {
    height: 600px;
    background: url(../img/hero-bottom-desktop.png) no-repeat;
    background-size: cover;
  }

  .hero h2 {
    padding: 88px 120px;
  }

  /*PACOTES DE VIAGEM*/
  .travel-packages .hero-img {
    background: url(../img/travel-packages/japan-bg-hero-desktop.png) no-repeat;
    background-size: cover;
  }

  .travel-packages .hero-content {
    width: 900px;
    padding: 158px 0 0 0;
  }

  .travel-packages .hero-content p {
    width: 570px;
  }

  .travel-packages.bottom-hero .hero-img {
  background: url(../img/travel-packages/japan-bg-bottom-hero-desktop.png)
    no-repeat center;
  background-size: cover;
  height: 600px;
}
}

@media screen and (min-width: 1440px) {
  .travel-packages .hero-content {
    width: 1200px;
  }
}

@media screen and (min-width: 1920px) {
  .hero h2 {
    padding: 88px 160px;
  }
}
