.payments .content-container .image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  margin-top: 24px;
  width: 100%;
}

.payments .content-container .image-gallery .image.first {
  background: url(../img/gallery1-mobile.png) no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery .image.second {
  background: url(../img/gallery2-mobile.png) no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery .image.third {
  background: url(../img/gallery3-mobile.png) no-repeat;
  background-size: cover;
}

.payments .content-container .image-gallery .image.colspan-2 {
  grid-column: span 2;
}

@media screen and (min-width: 768px) {
  .payments .content-container .image-gallery .image.first {
    background: url(../img/gallery1-tablet-desktop.png) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.second {
    background: url(../img/gallery2-tablet-desktop.png) no-repeat;
    background-size: cover;
  }

  .payments .content-container .image-gallery .image.third {
    background: url(../img/gallery3-tablet-desktop.png) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
.payments .content-container {
    display: flex;
    justify-content: space-between;
}

.payments .content-container .text-content{
    width: 360px;
}

.payments .content-container .image-gallery {
    width: 790px;
}
}